{% extends "base.html.twig" %}
{% block title %}ADMIN - {{ parent() }} - Update d'un Article {% endblock %}
{% block body %}
    <h1>Update Article</h1>

    <form method="post" enctype="multipart/form-data">

        <div class="mb-3">
            <input type="text" class="form-control" placeholder="Saisir un titre" name="Titre" value="{{ article.Titre }}">
        </div>

        <div class="mb-3">
            <textarea class="form-control" name="Description" rows="3">{{ article.Description }}</textarea>
        </div>

        <div class="mb-3">
            <input type="date" class="form-control" name="DatePublication" value="{{ article.DatePublication|date("Y-m-d") }}">
        </div>

        <div class="mb-3">

            <select class="form-select" name="Auteur">
                <option value="Brice" {% if (article.Auteur == "Brice") %}selected{% endif %}>Brice</option>
                <option value="Bruno" {% if (article.Auteur == "Bruno") %}selected{% endif %}>Bruno</option>
                <option value="Fabien" {% if (article.Auteur == "Fabien") %}selected{% endif %}>Fabien</option>
                <option value="Marion" {% if (article.Auteur == "Marion") %}selected{% endif %}>Marion</option>
                <option value="Jean-Pierre" {% if (article.Auteur == "Jean-Pierre") %}selected{% endif %}>Jean-Pierre</option>
                <option value="Benoit" {% if (article.Auteur == "Benoit") %}selected{% endif %}>Benoit</option>
                <option value="Emmanuel" {% if (article.Auteur == "Emmanuel") %}selected{% endif %}>Emmanuel</option>
                <option value="Sylvie" {% if (article.Auteur == "Sylvie") %}selected{% endif %}>Sylvie</option>
            </select>
        </div>

        <div class="mb-3">
            <input type="file" class="custom-file-input" name="Image">
        </div>
        {% if file_exist( './uploads/images/'~article.ImageRepository~'/'~article.ImageFileName ) and article.ImageFileName !="" %}
            <div class="mb-3">
                <img src="/uploads/images/{{ article.ImageRepository }}/{{ article.ImageFileName }}" class="img-thumbnail"/>
            </div>
        {% endif %}
        <input type="hidden" name="imageAncienne"  value="{{ article.ImageRepository}}/{{ article.ImageFileName}}">

        <button type="submit" class="btn btn-primary">Valider</button>
    </form>


{% endblock %}
